@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --normal: linear-gradient(#3d3d3d,#727272);
}
*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body
{
    background: #202020;
}
.navbar
{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}
.logo
{
    font-size: 30px;
    font-weight: 700;
    position: relative;
    color: #fff;
    /* background: var(--normal); */
    border-radius: 3px;
    padding: 3px;
}
.logo::before
{
    content: '';
    position: absolute;
    height: 7px;
    width: 7px;
    bottom: 16px;
    right: -12px;
    background: lime;
    border-radius: 50%;
    box-shadow: 0 0 3px lime, 0 0 4px lime, 0 0 6px lime, 0 0 7px lime, 0 0 8px lime;
    animation: color 1s ease infinite;
}
@keyframes color
{
    50%
    {
        background: red;
        box-shadow: 0 0 3px red, 0 0 4px red, 0 0 6px red, 0 0 7px red, 0 0 8px red;
    }
}
.menu
{
    display: flex;
    gap: 15px;
}
.menu li
{
    list-style: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}
.data-section
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    place-items: center;
    height: 93vh;
}
.graphbase
{
    content: '';
    position: relative;
    background: linear-gradient(113deg, #313131b8, transparent);
    height: 400px;
    width: 500px;
    border-radius: 2px;
    border: 2px solid #505050;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-items: end;
    padding: 10px;
}
.graphbase::before
{
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    height: 5px;
    width: 5px;
    background: #00ff3c;
    /* border-radius: 50%; */
    box-shadow: 0 0 5px #00ff3c, 0 0 10px #00ff3c, 0 0 15px #00ff3c;
    animation: colorc 1s linear infinite;
}
@keyframes colorc
{
    50%
    {
        background: #ff0000;
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000;
        border-radius: 5px;
    }
}
.graph
{
    content: '';
    /* height: 100px; */
    width: 61px;
    background: gray;
    transition: 1s ease-in-out;
    position: relative;
    border-radius: 2px;
    box-shadow:  0 0 5px #00000047;
}
.graph i
{
    position: absolute;
    top: -20px;
    /* left: -30px; */
    color: #fff;
    /* border: 3px solid #303030; */
    padding: 2px;
    border-radius: 3px;
    font-size: 13px;
    z-index: 100;
    text-shadow: 0 0 5px #000;
}
.g1
{
    background: antiquewhite;
    height: 1%;
}
.g2
{
    background: olive;
    height: 1%;
}
.g3
{
    background: azure;
    height: 1%;
}
.data-num
{
    color: #fff;
    font-size: 8px;
    position: absolute;
    bottom: -15px;
    left: 1px;
}
@media only screen and (max-width: 965px) {
    .data-section
    {
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 700px) {
    .graphbase
    {
        height: 200px;
        width: 257px;
    }
    .graph
    {
        width: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .menu
    {
        position: absolute;
        top: 50px;
        left: 10px;
    }
    .data-no
    {
        font-size: 48px;
    }
    .menu
    {
        gap: 8px;
    }
    .menu li
    {
        font-size: 12px;
        gap: 6px;
    }
    .network_graph
    {
        top: 20px;
    }
}
.network_graph
{
    position: absolute;
    top: 70px;
    right: 20px;
    height: 50px;
    width: 30px;
    background: transparent;
    border: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: end;
    border-radius: 2px;
}
.net
{
    background: #fff;
    height: 100%;
    width: 2px;
    transition: 100ms;
    position: relative;
}
.net:nth-child(3)
{
    height: 10px;
    background: lime;
}
.net:nth-child(5)
{
    height: 30px;
    background: lime;
}
.net:nth-child(1)
{
    height: 20px;
    background: lime;
}
